<div class="mt-8 flex flex-col">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg dark:ring-gray-700">
        <table class="min-w-full divide-y divide-gray-300 dark:divide-gray-700">
          <thead class="bg-gray-50 dark:bg-gray-800">
            <tr>
              <th scope="col" class="relative py-3.5 pl-4 pr-3 sm:pl-6 w-10">
                <span class="sr-only">Sort</span>
              </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Date</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Phenomenon</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Unit Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Part</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Text</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white dark:bg-gray-900 dark:divide-gray-700"
                 data-controller="sortable"
                 data-sortable-url-value="<%= reorder_admin_person_person_logs_path(person) %>">
            <% person_logs.each do |log| %>
              <tr data-id="<%= log.id %>">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 drag-handle cursor-move">
                  <svg class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900 dark:text-gray-200"><%= log.log_date %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400"><%= log.phenomenon_text %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400">
                  <% if log.unit_id.present? %>
                    <%= link_to log.unit_name, edit_admin_unit_path(log.unit_id), class: "text-indigo-600 hover:text-indigo-900 dark:text-indigo-400 dark:hover:text-indigo-300" %>
                  <% else %>
                    <%= log.unit_name %>
                  <% end %>
                  <% if log.unit_key.present? %>
                    <br>
                    <% if log.unit_id.blank? %>
                      <%= link_to "(#{log.unit_key})", new_admin_unit_path(unit: { key: log.unit_key, name: log.unit_name }), class: "text-xs text-indigo-600 hover:text-indigo-900 dark:text-indigo-400 dark:hover:text-indigo-300", title: "Create Unit" %>
                    <% else %>
                      <span class="text-xs text-gray-400 dark:text-gray-500">(<%= log.unit_key %>)</span>
                    <% end %>
                  <% end %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400"><%= log.name %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400"><%= log.part %></td>
                <td class="px-3 py-4 text-sm text-gray-500 dark:text-gray-400">
                  <%= truncate(log.text, length: 50) %>
                  <% if log.source_url.present? %>
                    <%= link_to log.source_url, target: "_blank", class: "text-blue-500 hover:text-blue-700 ml-1 inline-flex items-center", title: "Source" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                      </svg>
                    <% end %>
                  <% end %>
                  <% if log.quote_text.present? %>
                     <span class="text-xs text-gray-400 block mt-1 border-l-2 border-gray-300 pl-2 italic"><%= truncate(log.quote_text, length: 30) %></span>
                  <% end %>
                </td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <%= link_to "Edit", edit_admin_person_person_log_path(person, log), class: "text-indigo-600 hover:text-indigo-900 mr-4 dark:text-indigo-400 dark:hover:text-indigo-300" %>
                  <%= button_to "Delete", admin_person_person_log_path(person, log), method: :delete, class: "text-red-600 hover:text-red-900 bg-transparent border-0 cursor-pointer p-0 inline dark:text-red-400 dark:hover:text-red-300", form_class: "inline", onclick: "return confirm('Are you sure?')" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
